@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #333;
}

.main {
	width: calc(100% - 300px);
	min-height: calc(100vh - 80px);
	position: absolute;
	top: 80px;
	right: 0;
}

.not-found-btn {
	transition: transform 0.3s ease-in;
	&:hover {
		svg {
			transform: translateX(-6px);
		}
	}
}
