{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/components/(.*)$",
		"^@/app/store/(.*)$",
		"^@/app/hooks/(.*)$",
		"^@/app/ui/(.*)$",
		"^@/app/services/(.*)$",
		"^@/app/utils/(.*)$",
		"^@/app/loaders/(.*)$",
		"(.module.scss)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
